@model List<Artist>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Artist List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Artist" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add Artist</a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Artist Name
                    </th>
                    <th>
                        Country of Origin
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var artist in Model)
                {
                    <tr>
                        <td class="align-middle">@artist.Name</td>
                        <td class="align-middle">@artist.Country</td>
                        <td class="align-middle">
                            <img src="@artist.ArtistImageUrl" alt="Artist Image" style="max-width: 100px; max-height: 100px;" />
                        </td>
                        <td class="align-middle">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-x-square"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container">
</div>
